<div class="btn-group dropleft">
	<button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		<i class="fas fa-bars"></i>
	</button>
	<div class="dropdown-menu p-0">
		<a class="dropdown-item pl-2 pr-2" href="{{base_url()}}lbs/aml" title="Click to go to AML Simulation page">AML Simulation</a>
		<a class="dropdown-item pl-2 pr-2" href="{{base_url()}}lbs/cad" title="Click to go to LBS Monitor page">LBS Monitor</a>
		{#
		<a class="dropdown-item pl-2 pr-2" href="{{base_url()}}lbs/crud" title="Click to go to LBS Persistent Storage page">LBS Persistent Storage</a>
		#}
		<a class="dropdown-item pl-2 pr-2" href="{{base_url()}}lbs/incident" title="Click to go to Incident Storage page">Incident Storage</a>
		{#
		<a class="dropdown-item pl-2 pr-2" href="{{base_url()}}lbs/user" title="Click to go to User Persistent Storage page">User Persistent Storage</a>
		#}
		<a class="dropdown-item pl-2 pr-2" href="{{base_url()}}lbs/signin" title="Click to go to Sign In page">Sign In</a>
		<a class="dropdown-item pl-2 pr-2" href="{{base_url()}}lbs/subscriber" title="Click to go to Subscriber page">Subscriber</a>
	</div>
</div>