<link href="{{base_url()}}assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="{{base_url()}}assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="{{base_url()}}assets/plugins/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css">
<link href="{{base_url()}}assets/css/style-metro.css{{VERSIONING}}" rel="stylesheet" type="text/css">
<link href="{{base_url()}}assets/css/style.css{{VERSIONING}}" rel="stylesheet" type="text/css">
<link href="{{base_url()}}assets/css/style-responsive.css{{VERSIONING}}" rel="stylesheet" type="text/css">
<link href="{{base_url()}}assets/css/themes/light.css{{VERSIONING}}" rel="stylesheet" type="text/css" id="style_color">  
<link href="{{base_url()}}assets/plugins/map/longdo/css/style.css" rel="stylesheet" type="text/css">
<link href="{{base_url()}}assets/plugins/map/longdo/css/jquery-ui.css" rel="stylesheet" type="text/css">  
<link href="{{base_url()}}assets/css/style-custom.css{{VERSIONING}}" rel="stylesheet" type="text/css">
<link href="{{base_url()}}assets/toggle/bootstrap-toggle.min.css{{VERSIONING}}" rel="stylesheet" type="text/css">
<style type="text/css">

</style>
<div class="container-fluid container-frame form-191">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h3 class="page-title">แก้ไขชื่อไม่เป็นทางการ</h3>
		</div>
		
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="validate-alert"> </div>
			<form>
				<div class="row">
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<div class="form-group">
							<label>ประเภทข้อมูล:</label> 
							<select class="form-control" id="poi_type_code" >
								<option value="" disabled selected>เลือกประเภทข้อมูล</option>
							{% for poitype in poitypes if poitypes is defined and poitypes is not empty %}
								<option value="{{poitype.poi_type_code}}" {% if poitype.poi_type_code == data.poi_type_code %} selected {% endif %} >{{poitype.poi_type_name}}</option>
							{% endfor %}
							</select>

						</div>
					</div>
					<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" hidden>
						<div class="form-group">
							<label>รหัส:</label>
							<input type="text" class="form-control" id="poi_code_old" value="{{data.poi_code}}">
							<input type="text" class="form-control" id="poi_code" value="{{data.poi_code}}">
						</div>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<div class="form-group">
							<label>ชื่อเป็นทางการ:</label>
							<input type="text" class="form-control" id="poi_name" value="{{data.poi_name}}">
						</div>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<div class="form-group">
							<label>ชื่อไม่เป็นทางการ:</label>
							<input type="text" class="form-control" id="poi_alias1" value="{{data.poi_alias1}}">
						</div>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<div class="form-group">
							<label>ที่อยู่:</label>
							<!-- <textarea rows="3" class="form-control" id="address"></textarea> -->
							<input type="text" class="form-control" id="poi_address" value="{{data.poi_address}}">
						</div>
					</div>
					<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
						<div class="form-group">
							<label>ละติจูด:</label> 
							<input type="text" class="form-control" id="poi_lat" value="{{data.poi_lat}}">
						</div>
					</div>
					<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
						<div class="form-group">
							<label>ลองติจูด:</label> 
							<input type="text" class="form-control" id="poi_lon" value="{{data.poi_lon}}">
						</div>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<div class="form-group">
							<label>สถานะ:</label> <br>
							<label class="switch" >
							  <input type="checkbox"  id="poi_status"  {% if data.poi_status == 1 %} checked {% endif %} >
							  <span class="slider"></span>
							</label>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div id="filters" style="height:auto;width:auto;">
					 		<div class="form-inline">
								<div class="form-group" style="margin-bottom:0!important">
									<label class="control-label" style="margin-top:0;margin-bottom:5px">
										<span class="glyphicon glyphicon-map-marker small"></span>
										<span class="small">ค้นหาสถานที่:</span>
									</label>
									<div class="input-group">
										<!-- <input type="text" id="q" class="form-control input-sm" placeholder="ใส่ชื่อสถานที่ หรือชื่อถนน" onkeyup="searchLocation()" style="font-size:12px!important;margin-top:0">
										<a class="glyphicon glyphicon-remove form-control-feedback text-muted small" aria-hidden="true" role="button" onclick="$('#q').val(null);$('#q').focus();" style="pointer-events:auto;right:43px;top:0!important;z-index:1000" title="ล้างข้อมูล"></a>
										<a class="input-group-addon btn blue" role="button" onclick="searchLocation()" style="border:0!important">
											<span class="glyphicon glyphicon-search small"></span>
										</a> -->
										<input type="text" id="q" class="form-control input-sm" placeholder="ใส่ชื่อสถานที่ หรือชื่อถนน"  style="font-size:12px!important;margin-top:0">
										<a class="glyphicon glyphicon-remove form-control-feedback text-muted small" aria-hidden="true" role="button" onclick="$('#q').val(null);$('#q').focus();" style="pointer-events:auto;right:43px;top:0!important;z-index:1000" title="ล้างข้อมูล"></a>
										<a class="input-group-addon btn blue" role="button" onclick="searchLocation()" style="border:0!important">
											<span class="glyphicon glyphicon-search small"></span>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div id="desc" hidden>
							<!-- ที่อยู่ : <textarea rows="3" cols="30" id="address"></textarea><br> -->
							ถนน : <input type="text" id="road"><br>
							เขต : <input type="text" id="district"><br>
							แขวง : <input type="text" id="subdistrict"><br>
							จังหวัด : <input type="text" id="province"><br>
							รหัสไปรษณีย์ : <input type="text" id="postcode">
						</div>
						<div id="map"></div>
					</div>
					 
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="form-group" >
							<a role="button" class="btn" href="{{base_url()}}mapPoi/poi/list">ย้อนกลับ</a>
							<!-- <a role="button" class="btn">เริ่มใหม่</a> -->
							<!-- <a role="button" class="btn" style="background-color:#FFFFFF;" id="btn_new">
								<label class="switch">
								  <input type="checkbox"  id="poi_status" checked>
								  <span class="slider"></span>
								</label>
							</a> -->
							<a data-toggle="modal" data-target=".record-manage" class="btn blue pull-right"  >บันทึก</a>
						</div>
					</div>
				</div>
			</form>

		</div>
	</div>
</div>
<div class="modal fade record-manage modal-frame" tabindex="-1" role="dialog" aria-labelledby="record-manage-label" id="modalwindow">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
				<h4 class="modal-title" id="record-manage-label"></h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="form-group">
								<button class="btn pull-left" data-dismiss="modal" id="cancel">ยกเลิก</button>
								<button class="btn green pull-right" id="save">ยืนยัน</button>
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="{{base_url()}}assets/plugins/jquery-1.12.4.min.js" type="text/javascript"></script> {% if MAPTYPE == 3 %}
<script src="{{base_url()}}assets/plugins/map/longdo/js/jquery-3.1.1.js" type="text/javascript"></script> {% endif %}
<script src="{{base_url()}}assets/js/jquery.ui.widget.js" type="text/javascript"></script>
<script src="{{base_url()}}assets/js/bootstrap.min.js" type="text/javascript"></script> {% if MAPTYPE == 2 %}
<script src="{{base_url()}}assets/plugins/openlayers/js/ol.js" type="text/javascript"></script> {% elseif MAPTYPE == 3 %}
<script src="{{base_url()}}assets/plugins/map/longdo/js/html2canvas.js" type="text/javascript"></script>
<script src="{{_SECURE}}api.longdo.com/map/?key={{MAPCONF.longdo.key}}" type="text/javascript"></script>
<script src="{{base_url()}}assets/plugins/map/longdo/js/jquery-ui.js" type="text/javascript"></script> {% endif %}
<script src="{{base_url()}}assets/toggle/bootstrap-toggle.min.js" type="text/javascript"></script>
<script src="{{base_url()}}assets/map/stdScript.js" type="text/javascript"></script>
<script src="{{base_url()}}assets/map/poiScript.js" type="text/javascript"></script>
<script type="text/javascript">
	
	var base_url = '{{base_url()}}';

	//alert(base_url);
	//$('.validate-alert').fadeOut('fast');
	$(document).ready(function() {
		$('.record-manage').on('show.bs.modal', function(e) {
			$("#cancel").show();
	    	$("#save").show();
			$(this).find('.modal-title').html('บันทึกชื่อไม่เป็นทางการ ' + $('#poi_name').val()  );
		});
	});

	$('#cancel').on('click', function() {
		$('#modalwindow').modal('hide');
	});
 
 
	$('#save').on('click', function() {
	   // var poi_type_code = $("#poi_type_code").val() ;
	  
	   	$("#cancel").hide();
	    $("#save").hide();
	    $('#record-manage-label').html( 'Loading...' );
	    
	    var poi_type_code = $('#poi_type_code :selected').val(); 
	    var poi_name = $("#poi_name").val() ;
	    var poi_alias1 = $("#poi_alias1").val() ;             
	    var poi_status = $('#poi_status').prop('checked');
	    var poi_code = $('#poi_code').val() ;
	    var poi_code_old = $('#poi_code_old').val() ;
	    var poi_lat = $('#poi_lat').val() ;
	    var poi_lon = $('#poi_lon').val() ;
	    var poi_address = $('#poi_address').val() ;
 		if(poi_name=='' || poi_type_code=='' || poi_lat=='' || poi_lon=='' || poi_code=='' ){
 			$('#modalwindow').modal('hide');
 			//msgDialog('Invalide Name, Type or LatLon' , 'alert-danger' );
 			msgDialog('Please click on map or Invalid data' , 'alert-danger' );
 			return ;
 		} 
	    var ds = { "poi_code_old": poi_code_old  , "poi_type_code" : poi_type_code , "poi_name": poi_name ,  "poi_alias1": poi_alias1 ,  "poi_status": poi_status ,  "poi_code": poi_code  ,  "poi_lat": poi_lat  ,  "poi_lon": poi_lon ,  "poi_address": poi_address      } ;
 
	    $.ajax({
	        url: '{{base_url()}}mapPoi/mapPoi_action/edit/'  , // point to server-side PHP script 
	        dataType: 'text',  // what to expect back from the PHP script, if anything
	        data: ds ,                         
	        type: 'post', 
	        success: function(result){
	        	 $('#modalwindow').modal('hide');
	            //alert(php_script_response); // display response from the PHP script, if any
            	obj = $.parseJSON(result); 
	            //console.log(obj['message'] ) ;
	            //$('#record-manage-label').html( obj['message'] );
	            $('#modalwindow').modal('hide');
	            if(obj['status']==0){
	            	//$("#poi_name").val('') ;
	            	//$("#poi_alias1").val('') ;
	            	//$("#poi_lat").val('') ;
	            	//$("#poi_lon").val('') ;
	            	//$("#poi_address").val('') ;
	            	msgDialog( obj['message']  , 'alert-success' );
	            }else{
	            	msgDialog( obj['message']  , 'alert-danger' );
	            }
	        }
	     });
	});


	function msgDialog(msg , typeBlog){
		$('.validate-alert').html('' +
			'<div class="alert alert-dismissible" role="alert">' +
				'<a role="button" class="close" data-dismiss="alert" aria-label="Close"></a>' +
				'<span>'+ msg +'</span>' +
			'</div>' +
		'');
		$('.validate-alert').fadeIn('fast');
		$('.validate-alert').find('.alert').addClass( typeBlog );
		/*var myVar = setInterval(function(){ 
			$('.validate-alert').fadeOut('fast');
			clearInterval(myVar);
		}, 3000);*/
	}


	init(base_url);
	renderArea();
	//alert("'{{data.poi_lon}}'");
	addMarker( '{{data.poi_lon}}' , '{{data.poi_lat}}' , '' ,  'marker.png' ) ;


</script>  