{% if is_internal is not defined %}
<link rel="stylesheet" type="text/css" href="{{base_url()}}assets/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{{base_url()}}assets/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{{base_url()}}assets/plugins/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" type="text/css" href="{{base_url()}}assets/css/style-metro.css{{VERSIONING}}">
<link rel="stylesheet" type="text/css" href="{{base_url()}}assets/css/style.css{{VERSIONING}}">
<link rel="stylesheet" type="text/css" href="{{base_url()}}assets/css/style-responsive.css{{VERSIONING}}">
<link rel="stylesheet" type="text/css" href="{{base_url()}}assets/css/themes/light.css{{VERSIONING}}" id="style_color">
<link rel="stylesheet" type="text/css" href="{{base_url()}}assets/plugins/map/longdo/css/style.css">
<link rel="stylesheet" type="text/css" href="{{base_url()}}assets/plugins/map/longdo/css/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="{{base_url()}}assets/css/style-custom.css{{VERSIONING}}">
<link rel="stylesheet" type="text/css" href="{{base_url()}}assets/toggle/bootstrap-toggle.min.css{{VERSIONING}}">
<style type="text/css">
	.elementToFadeInAndOut {
		opacity: 1;
		animation: fade 2s linear forwards infinite;
	}
	@keyframes fade {
		0%, 100% { opacity: 0 }
		50% { opacity: 1 }
	}
</style> {% endif %}
<div class="container-fluid container-frame form-191">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="form-group non-margin">
				<div style="left:50%;position:absolute">
					<div id="filters" style="height:auto;left:-50%;margin:5px;position:relative;width:auto;z-index:256">
						<div class="form-inline">
							<div class="form-group" style="margin-bottom:0!important">
								<label class="control-label" style="margin-top:0;margin-bottom:5px">
									<span class="glyphicon glyphicon-map-marker small"></span>
									<span class="small">ค้นหาสถานที่:</span>
								</label>
								<div class="input-group">
									<!-- <input type="text" id="q" class="form-control input-sm" placeholder="ใส่ชื่อสถานที่ หรือชื่อถนน" onkeyup="searchLocation()" style="font-size:12px!important;margin-top:0">
									<a class="glyphicon glyphicon-remove form-control-feedback text-muted small" aria-hidden="true" role="button" onclick="$('#q').val(null);$('#q').focus();" style="pointer-events:auto;right:43px;top:0!important;z-index:1000" title="ล้างข้อมูล"></a>
									<a class="input-group-addon btn blue" role="button" onclick="searchLocation()" style="border:0!important">
										<span class="glyphicon glyphicon-search small"></span>
									</a> -->
									<input type="text" id="q" class="form-control input-sm" placeholder="ใส่ชื่อสถานที่ หรือชื่อถนน"  style="font-size:12px!important;margin-top:0">
									<a class="glyphicon glyphicon-remove form-control-feedback text-muted small" aria-hidden="true" role="button" onclick="$('#q').val(null);$('#q').focus();" style="pointer-events:auto;right:43px;top:0!important;z-index:1000" title="ล้างข้อมูล"></a>
									<a class="input-group-addon btn blue" role="button" onclick="searchLocation()" style="border:0!important">
										<span class="glyphicon glyphicon-search small"></span>
									</a>
								</div>
								<div id="searchSelect">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="desc" hidden>
			{# ที่อยู่ : <textarea rows="3" cols="30" id="address"></textarea><br> #}
			ถนน : <input type="text" id="road"><br>
			เขต : <input type="text" id="district"><br>
			แขวง : <input type="text" id="subdistrict"><br>
			จังหวัด : <input type="text" id="province"><br>
			รหัสไปรษณีย์ : <input type="text" id="postcode">
		</div>
		<div id="map"></div>
	</div>
</div>
<div class="modal fade record-manage modal-frame" tabindex="-1" role="dialog" aria-labelledby="record-manage-label" id="modalwindow">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
				<h4 class="modal-title" id="record-manage-label"></h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="form-group">
							<button class="btn pull-left" data-dismiss="modal" id="cancel">ยกเลิก</button>
							<button class="btn green pull-right" id="save">ยืนยัน</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> {% if is_internal is not defined %}
<script type="text/javascript" src="{{base_url()}}assets/plugins/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="{{base_url()}}assets/plugins/map/longdo/js/jquery-3.1.1.js"></script>
<script type="text/javascript" src="{{base_url()}}assets/js/jquery.ui.widget.js"></script>
<script type="text/javascript" src="{{base_url()}}assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{base_url()}}assets/plugins/map/longdo/js/html2canvas.js"></script>
<script type="text/javascript" src="{{_SECURE}}api.longdo.com/map/?key={{MAPCONF.longdo.key}}"></script>
<script src="{{_MAP_SERVER}}?key={{_MAP_KEY}}"></script>
<script type="text/javascript" src="{{base_url()}}assets/plugins/map/longdo/js/jquery-ui.js"></script>
<script type="text/javascript" src="{{base_url()}}assets/toggle/bootstrap-toggle.min.js"></script>
<script type="text/javascript" src="{{base_url()}}assets/map/stdScript.js{{VERSIONING}}"></script>
<script type="text/javascript" src="{{base_url()}}assets/map/opencaseScript.js{{VERSIONING}}"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">
	var base_url = '{{base_url()}}';
	// alert(base_url);
	// $('.validate-alert').fadeOut('fast');
	var poli = [];
  	var poliInterval;
	init();
	renderArea();
	getPoliceCar();
	var element_case_id     = "{{element_case_id}}";
	var element_address     = "{{element_address}}";
	var element_latitude    = "{{element_latitude}}";
	var element_longitude   = "{{element_longitude}}";
	// var case_lat   		= "{{case_lat}}";
	// var case_lon   		= "{{case_lon}}";
	// var case_direction   = "{{case_direction}}";
	if (typeof setLocations === 'function' || (element_case_id != null && element_case_id != '')) {
		setLocations(element_case_id);
	}
	var BL_REQ_STR = null;
	var BL_REQ_VAR = '{{BASE_LOCATION_REQUEST}}';
	if (BL_REQ_VAR != '') {
		BL_REQ_STR = JSON.parse(BL_REQ_VAR);
		BL_REQ_METHOD();
	}
	function BL_REQ_METHOD() {
		l = BL_REQ_STR;
		if (l.lon != '' && l.lat != '') {
			clearMarker();
			// addMarker(l.lon, l.lat, "", "smartphone.png");
			marker = new longdo.Marker({
				lon: l.lon,
				lat: l.lat
			}, {
				icon: {
					html: '<img class="elementToFadeInAndOut" src="'+ base_url + '/assets/icon/smartphone.png" width="32">',
					size: { width: 200, height: 200 },
				},
				weight: longdo.OverlayWeight.Top
			});
			map.Overlays.add(marker);
			markCircle(l.lon, l.lat);
			getNearBy(l);
			getAddress(l);
			map.location({ lon: l.lon, lat: l.lat });
			map.zoom(17);
			getAreaPO(l);
		}
	}
	function getAddress(lonLat) {
		$.ajax({
			url: base_url + "mapApi/address",
			data: {
				"lat": lonLat['lat'],
				"lon": lonLat['lon']
			}
		}).done(function(data) {
			res = data;
			obj = $.parseJSON(res);
			var road = '';
			var province = '';
			var district = '';
			var subdistrict = '';
			var postcode = '';
			var address = '';
			if (obj['road'] != undefined) 	{ road 			= obj['road']; 			}
			if (obj['province'])			{ province 		= obj['province']; 		}
			if (obj['district'])			{ district 		= obj['district']; 		}
			if (obj['subdistrict'])			{ subdistrict 	= obj['subdistrict']; 	}
			if (obj['postcode'])			{ postcode 		= obj['postcode']; 		}
			address = road + ' ' + subdistrict + ' ' + district + ' ' + province + ' ' + postcode;
			if (element_address != '' && element_latitude != '' && element_longitude != '') {
				window.opener.return2elements(element_address,		(address        != 'undefined' ? address        : ''));
				window.opener.return2elements(element_latitude,		(lonLat['lat']  != 'undefined' ? lonLat['lat']  : ''));
				window.opener.return2elements(element_longitude,	(lonLat['lon']  != 'undefined' ? lonLat['lon']  : ''));
			}
		});
	}
	function getPolyLines() {
		var ds = [];
		var i = 0;
		$.each(map.Overlays.list(), function(key, value) {
			if (value instanceof longdo.Polyline == true) {
				ds[i] = value.location();
				i++;
			}
		});
		window.opener.return2elements('case_direction',	JSON.stringify(ds) != 'undefined' ? JSON.stringify(ds) : '');
	}
	function getPoliceCar() {
 		clearInterval(poliInterval);
		$.ajax({
			url: base_url + "patrol/monPatrol",
			data: {}
		}).done(function(data) {
			res = data;
			obj = $.parseJSON(res);
			//console.log(obj);
			$.each( obj['data'] , function(key, value) {
				//console.log(value);
				if(value['police_vehicle_lon']>1){
					var re = clearMarker_mark( value['id'] , value['police_vehicle_lat']+'_'+value['police_vehicle_lon']+'_'+value['police_vehicle_status_code'] ) ;
					console.log(poli[ value['id'] ]);
					if(re==true || poli[ value['id'] ]== undefined ){
						addMarker_track(value['police_vehicle_lon'], value['police_vehicle_lat'], value , 'police_car.png');
					}

				}

			});
			// addMarker(lonLat['lon'], lonLat['lat'], '', 'marker.png');
			poliInterval = setInterval(function(){
				getPoliceCar();
			}, 5000);
		});
	}

	function addMarker_track(lon, lat, desc, icon) {
		console.log('add');
		// alert(base_url);
		// var marker1 = new longdo.Marker({ lon: lon, lat: lat });
		var detail = "<b>หน่วยงาน : </b>"+desc['department_name']+'<br><b>กลุ่มสั่งการ :</b>'+desc['command_name']+'<br><b>สถานีตำรวจ : '+desc['police_station_name']+'</b><hr><b>สถานะ :</b> '+desc['police_vehicle_status_name']  ;
		if(desc['case_id']!='' && desc['case_id']!=null){
			detail += "<br><b>หมายเลขเหตุ :</b> "+desc['case_id']+'<br><b>ระยะเวลา :</b> '+ desc['duration'] ;
		}
		marker = new longdo.Marker({
			lon: lon,
			lat: lat
		}, {
			title: desc['police_vehicle_number'],
			icon: {
				url: base_url + '/assets/icon/' + icon,
				//html: '<img src="'+ base_url + '/assets/icon/' + icon+'" width="24">' ,
				//offset: { x: 12, y: 45 }
				// offset: { x: 12, y: 45 }
				//size: { width: 300, height: 200 },
			},
			detail: detail,
			size: { width: 250, height: 170 },
			//visibleRange: { min: 7, max: 8 },
			// draggable: true,
			weight: longdo.OverlayWeight.Top
		});
		marker['type'] = 'police_car' ;
		marker['id'] = desc['id'] ;
		marker['latlon'] = desc['police_vehicle_lat']+'_'+desc['police_vehicle_lon']+'_'+desc['police_vehicle_status_code'] ;
		poli[ desc['id'] ] = desc['police_vehicle_lat']+'_'+desc['police_vehicle_lon']+'_'+desc['police_vehicle_status_code'] ;

		map.Overlays.add(marker);
	}
	function clearMarker_mark( id , latlon ) {
		var have = false ;
		var mark = map.Overlays.list();
		// console.log(mark) ;
		var i = 0;
		$.each(mark, function(key, value) {
			//console.log(value instanceof longdo.Marker);

			if(value instanceof longdo.Marker == true && value.hd==0){
				//map.Overlays.remove(value);

				if(  value['id'] ==  id  ){
					console.log("xx-->"+ value['id'] +'---'+  id );
					if( value['latlon'] !=  latlon  ){
						console.log("yy"+value['latlon'] +'--'+  latlon);
						console.log('Delete');
						map.Overlays.remove(value);
						have = true ;
					}
				}
			}

			i++;
		});
		return have ;
	}
	//function setLocations(a){""!=a&&$.ajax({url:"{{base_url()}}map/thiscase?case_id="+a}).done(function(a){if(0<a.length){var e=JSON.parse(a);""!=e.lon&&""!=e.lat&&(clearMarker(),addMarker(e.lon,e.lat,"","marker.png"),markCircle(e.lon,e.lat),getNearBy(e)),""!=e.dir&&$.each($.parseJSON(e.dir),function(a,e){var r=new longdo.Polyline(e);map.Overlays.add(r)})}})}
	function setLocations(a){""!=a&&$.ajax({url:"{{base_url()}}map/thiscase?case_id="+a}).done(function(a){if(0<a.length){var l=JSON.parse(a);""!=l.lon&&""!=l.lat&&(clearMarker(),addMarker(l.lon,l.lat,"","marker.png"),markCircle(l.lon,l.lat),getNearBy(l),map.location({lon:l.lon,lat:l.lat},!0),map.zoom(15)),""!=l.dir&&$.each($.parseJSON(l.dir),function(a,l){var e=new longdo.Polyline(l);map.Overlays.add(e)})}})}
</script> {% endif %}
<script type="text/javascript">
	//function setLocations(a){""!=a&&$.ajax({url:"{{base_url()}}map/thiscase?case_id="+a}).done(function(a){if(0<a.length){var e=JSON.parse(a);""!=e.lon&&""!=e.lat&&(clearMarker(),addMarker(e.lon,e.lat,"","marker.png"),markCircle(e.lon,e.lat),getNearBy(e)),""!=e.dir&&$.each($.parseJSON(e.dir),function(a,e){var r=new longdo.Polyline(e);map.Overlays.add(r)})}})}
	function setLocations(a){""!=a&&$.ajax({url:"{{base_url()}}map/thiscase?case_id="+a}).done(function(a){if(0<a.length){var l=JSON.parse(a);""!=l.lon&&""!=l.lat&&(clearMarker(),addMarker(l.lon,l.lat,"","marker.png"),markCircle(l.lon,l.lat),getNearBy(l),map.location({lon:l.lon,lat:l.lat},!0),map.zoom(15)),""!=l.dir&&$.each($.parseJSON(l.dir),function(a,l){var e=new longdo.Polyline(l);map.Overlays.add(e)})}})}
	/*function setLocations(this_id) {
		if (this_id != '') {
			$.ajax({
				url: "{{base_url()}}map/thiscase?case_id=" + this_id
			}).done(function(msg) {
				if (msg.length > 0) {
					var lonLat = JSON.parse(msg);
					if (lonLat['lon'] != '' && lonLat['lat'] != '') {
						clearMarker();
						addMarker(lonLat['lon'], lonLat['lat'], '', 'marker.png');
						markCircle(lonLat['lon'], lonLat['lat']);
						getNearBy(lonLat);
						map.location({
							lon: lonLat['lon']  ,
							lat: lonLat['lat']
						}, true);
						map.zoom(15);
					}
					if (lonLat['dir'] != '') {
						$.each($.parseJSON(lonLat['dir']), function(key, value) {
							var geom = new longdo.Polyline(value);
							map.Overlays.add(geom);
						});
					}
				}
			});
		}
	}*/
	function getExistCase(latlon, casetype) {
		if (casetype != '' && latlon['lat'] != '' && latlon['lon'] != '') {
			$.ajax({
				type: "POST",
				url: base_url + "mapApi/duplicateCase",
				data: { "lat": latlon['lat'], "lon": latlon['lon'], "casetype_code": casetype },
			}).done(function(data) {
				var dsx = [];
				var res = $.parseJSON(data);
				$.each(res['data'], function(key, value) {
					var this_length = longdo.Util.distance([{ lon: latlon['lon'], lat: latlon['lat'] }, { lon: value['case_lon'], lat: value['case_lat'] }]);
					if (parseInt(this_length) < 850) {
						// addMarker(value['case_lon'], value['case_lat'], { "type": "case_duplicate" }, 'pin.png');
						dsx.push(value);
					}
					// console.log(parseInt(this_length));
				});
				// console.log(latlon);
				// console.log(dsx);
				setExistCase(dsx);
			});
		}
	}
</script>